export(chisq.pairwise)
export(fitZifNetwork)
export(oddsratio.pairwise)
export(pearson.pairwise)
export(singleCellHeat)
export(test.pearson.pairwise)
exportMethods(cv.glmnet)
import(SingleCellAssay)
importFrom(abind,abind)
importFrom(glmnet,cv.glmnet)
importFrom(glmnet,glmnet)
importFrom(logistf,logistf)
